<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <h3>Add New Brand</h3>

      <form action="/create_brand" method="post">
        <div class="form-group">
          <label for="title" class="form-label">Brand:</label>
          <input type="text" name="title" class="form-control" id="title" required>
        </div>
        <div class="form-group">
          <label for="price" class="form-label">Price:</label>
          <input type="number" name="price" class="form-control" id="price" required>
        </div>
        <button type="submit" class="btn btn-success">Add Brand</button>
      </form>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <% if @brands.any?() %>
      <h3>Here are your brands:</h3>

      <form action="/delete_brand" method="post">
      <input type="hidden" name="_method" value="delete">
      <% @brands.each() do |brand| %>
        <div class="checkbox">
          <label>
            <input id="brandID" type="checkbox" name="brand_ids[]" value="<%= brand.id() %>"> <%= brand.title() %> $<%= '%.02f' % brand.price %>
          </label>
        </div>
      <% end %>

        <button class="btn btn-danger" type="submit">Delete Selected Brands</button>
      </form>

    <% else %>

        <p>There are no brands yet!</p>

    <% end %>

    </div>
    <br>
    <div class="card home">
      <a href="/"><button class="btn">Return To Homepage</a>
    </div>
  </div>
</div>
