<div class="card">
  <div class="centered">
    <h2>Error Error Error</h2>
  <video autoplay loop>
     <source src="/vid/cat.mp4">
  </video>
  <br>
    <div class="fail">
      <a href="/"><button class="btn">Better try again. That store doesn't exist yet!</a>
    </div>
  </div>
</div>
