<div class="card">
  <div class="centered">
    <h2>Error Error Error</h2>
  </div>
  <video autoplay loop>
     <source src="/vid/cat.mp4">
  </video>
  <br>
  <div class="centered">
    <h5><a href="/" >Better try again. That store doesn't exist yet.</a></h5>
  </div>
</div>
