body {
  font-family: 'Marck Script';
  background-color: #2c3531;
  color: #d1e8e2;
  font-size: 20px;
}

.jumbotron {
  font-family: 'Marck Script';
  height: 40px;
  background-color: #d1e8e2;
  color: #2c3531;
  padding-bottom: 90px;
}

.jumbotron h1 {
  font-size: 70px;
  margin-bottom: 200px;
  margin-top: -20px;
}

.card {
  padding: 20px;
  background-color: #116466;
}

.centered {
  text-align: center;
}

.home {
  text-align: center;
  margin-bottom: 100px;
}

.bottom {
  margin-bottom: 100px;
}

.home button {
  background-color: #2c3531;
}

.fail button {
  background-color: #2c3531;
}

a {
  color: #b58151;
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
}

input[type='text'], textarea {
  color: #123;
  background-color: #d1e8e2;
  border-style: none;
}

input[type='number'], textarea {
  color: #123;
  background-color: #d1e8e2;
  border-style: none;
}

video {
  max-width: 100%;
}
