/*@font-face {
  font-family: frontier;
  src: url('Final_Frontier.ttf');
}*/

body {
  background-color: #eee2dc;
  color: #123c69;
  font-size: 20px;
}

.jumbotron {
  background-color: #edc7b7;
  color: #123c69;
}

.card {
  padding: 20px;
  background-color: #bab2b5;
}

.centered {
  text-align: center;
}

.home {
  text-align: center;
  margin-bottom: 100px;
}

a {
  font-size: 20px;
}
